.App {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10vh;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
}

.api-links {
  text-align: left;
  margin-bottom: 10vh;
}

.image {
  width: 300px;
}

.add-quote-section {
  margin-top: 60px;
}

ol {
  list-style: none;
}

hr {
  max-width: 30%;
}